# macOS
.DS_Store

# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
env.bak/
venv.bak/

# Environment variables
.env
.env.local
.env.*.local

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.vim/

# Testing/Coverage
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.tox/

# Docker build
.dockerignore
